.nav {
  grid-area: n;
  background-color: rgb(32,34,37);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item {
  margin: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
  background-color: rgb(57,60,67);
  border-radius: 50px;
}
.item a {
  text-decoration: none;
  color: rgb(111,119,125);
}
.item a.active {
  color: white;
}